<%= form_for(chef) do |f| %>
  <% if chef.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chef.errors.count, "error") %> prohibited this chef from being saved:</h2>

      <ul>
      <% chef.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
      <div class="col-sm-1">
      <%= f.label 'Name' %>
      </div>
    <div class="col-sm-8">
      <%= f.text_field :name, class:'form-control', required: true %>
    </div>
  </div>

  <div class="row form-group">
      <div class="col-sm-1">
      <%= f.label 'Phone No' %>
      </div>
    <div class="col-sm-8">
      <%= f.text_field :phone, class:'form-control', required: true %>
    </div>
  </div>

  <div class="actions">
    <div class="row">
    <div class="col-sm-1"></div><div class="col-sm-8" style="text-align:right"><%= f.submit 'Save', class: 'btn btn-success' %></div>
    </div>
  </div>
<% end %>
