<h1>Chefs</h1>
<%= form_tag chefs_path, method: 'get', id: "chefs_search", remote: true do %>
  <div class="row">
    <div class="col-sm-4"><%= text_field_tag :search_chef, params[:search_chef], class:'form-control', placeholder: "Search Chef's name" %></div>
  </div>
<%end%>
<br>
<div id="chefs">
  <%= render 'chefs' %>
</div>
<legend>Print Chef Order</legend>
<div class="row">
  <%= form_tag print_print_order_chef_path, :method => 'get', class:'form-inline' do %>

      <div class="col-sm-12" style="">
            <%= date_field_tag :date, params[:date], required: true, class:'form-control'%>

            <%= submit_tag "Search By Date", :name => nil, class: 'btn btn-info' %>

      </div>


  <% end %>
