<%= link_to runners_path, class: 'btn btn-success' do%><i class="fa fa-arrow-left"></i> Back<%end%><br><br>
<div class="panel panel-default">
    <table class="table">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @runner.name %></td>
  </tr>
  <tr>
    <td><strong>Phone:</strong></td>
    <td><%= @runner.phone %></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:right"><%= link_to edit_runner_path(@runner), class:'btn btn-warning' do%><i class="fa fa-pencil"></i> Edit<%end%></td>
  </tr>
  </table>
</div>
<br>
<legend></legend>
<h4> Runner's orders assigned</h4>
<div class="panel panel-default">
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Order Date</th>
        <th>Item Name</th>
        <th>Quantity Order</th>
        <th colspan="3">Manage Order</th>
      </tr>
    </thead>
      <% @runner.orders.order(order_date: :desc).each do |runner_order| %>
        <tr>
          <td><%= runner_order.date_format %></td>
          <td><%= runner_order.item.name %></td>
          <td><%= runner_order.quantity %></td>
          <td><%= link_to runner_order do%><i class="fa fa-eye"></i><%end%></td>
          <td><%= link_to edit_order_path(runner_order)  do%><i class="fa fa-pencil"></i><%end%></td>
          <td><%= link_to runner_order, method: :delete, data: {confirm: 'Are you sure to delete?'}, :remote => true, :class => 'delete_order' do%><i class="fa fa-remove"></i><%end%></td>
        </tr>
      <%end%>
  </table>
  </div>
</div>
<!--
<legend></legend>
<h4>Tasks</h4>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer</th>
      <th>Order Packaging (Quantity)</th>
      <th colspan="3">Manage Tasks</th>
    <tr>
  </thead>
  <tbody>
    <% @runnertasks.each do |runner_task| %>
      <tr>
        <td><%= runner_task.order.id %></td>
        <td><%= runner_task.order.customer.name %></td>
        <td><%= runner_task.package_quantity %></td>
        <td><%= link_to runner_runner_tasks_path(@runner) do%><i class="fa fa-eye"></i><%end%></td>
        <td><%= link_to edit_runner_runner_task_path(@runner, runner_task) do%><i class="fa fa-pencil"></i><%end%></td>
        <td><%= link_to [@runner, runner_task], method: :delete, data:{confirm: 'Are you sure to delete?'} do%><i class="fa fa-remove"></i><%end%></td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>
<center><%= link_to 'New Task', new_runner_runner_task_path(@runner), class: 'btn btn-info'%></center>
-->
