<%= link_to runners_path, class: 'btn btn-success' do%><i class="fa fa-arrow-left"></i> Back<%end%><br><br>
<div class="panel panel-default">
    <table class="table">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @runner.name %></td>
  </tr>
  <tr>
    <td><strong>Phone:</strong></td>
    <td><%= @runner.phone %></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:right"><%= link_to edit_runner_path(@runner), class:'btn btn-warning' do%><i class="fa fa-pencil"></i> Edit<%end%></td>
  </tr>
  </table>
</div>
<br>
<legend></legend>
<h4> Runner's orders assigned</h4>
<div class="col-sm-6">
<div class="panel panel-default">
  <div style="padding-left:10px; padding-top:20px; padding-right:20px; text-align:right">
  <%= form_tag runner_path(runner_id: @runner.id), :method => 'get' do %>
    <p>
      <%= select_tag :target, options_for_select([ "All", "Today" ], params[:target])%>
    </p>
  <% end %>
</div>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Order Date</th>
        <th>Item Name</th>
        <th>Quantity Order</th>
        <th colspan="6">Manage Order</th>
      </tr>
    </thead>
          <% @orders.order(order_date: :desc).each do |col| %>
          <tr>
                  <td><%= col.order_date.strftime("%d/%m/%Y at %H:%M") %></td>
                  <td><%= col.item.name %></td>
                  <td style="text-align:center"><%= col.quantity %></td>
                  <td><%= link_to col do%><i class="fa fa-eye"></i><%end%></td>
                  <td><%= link_to edit_order_path(col)  do%><i class="fa fa-pencil"></i><%end%></td>
                  <td><%= link_to col, method: :delete, data: {confirm: 'Are you sure to delete?'},remote: true, :class => 'delete_order' do%><i class="fa fa-remove"></i><%end%></td>

          </tr>
    <%end%>
  </table>
  </div>
</div>
</div>
<% @orders2.each do |order|%>
  <%= order.order_date %> -
  <%= order.customer.name %> <br>
<%end%>
<div class="col-sm-6">
<%= form_tag print_print_order_path(runner_id: @runner.id), :method => 'get' do %>
  <p>
    <%= date_field_tag :date, params[:date], required: true, class:'form-control' %>
    <%= hidden_field_tag :runner_id, @runner.id %><br>
    <%= submit_tag "Search By Date", :name => nil, class: 'btn btn-info' %>
  </p>
<% end %>
</div>
<script>
$("#target").change(function() {
     this.form.submit();
});
</script>
