<%= link_to :back, class: 'btn btn-success' do%><i class="fa fa-arrow-left"></i> Back<%end%><br><br>
<div class="panel panel-default">
    <table class="table">
  <tr>
    <td><strong>Item:</strong></td>
    <td><%= @order.item.name %></td>
  </tr>
  <tr>
    <td><strong>Quantity:</strong></td>
    <td><%= @order.quantity %></td>
  </tr>
  <tr>
    <td><strong>Customer:</strong></td>
    <td><%= @order.customer.name %></td>
  </tr>
  <tr>
    <td><strong>Order Date:</strong></td>
    <td><%= @order.date_format %> (<%= @order.day_order %>)</td>
  </tr>
  <tr>
    <td><strong>Runner In Charge:</strong></td>
    <td><%= @order.runner.name %></td>
  </tr>
  <tr>
    <td><strong>Chef In Charge:</strong></td>
    <td><%= @order.chef.name %></td>
  </tr>


  <tr>
    <td colspan="2" style="text-align:right"><%= link_to edit_order_path(@order), class: 'btn btn-warning' do %><i class="fa fa-pencil"></i> Edit<%end%></td>
  </tr>
  </table>
</div>
<br>
<!--
<legend></legend>
<h4>Assigning Chef</h4>
<div class="panel panel-default">
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Chef No.</th>
      <th>Chef Name</th>
      <th>Cooking Quantity</th>
    </tr>
  </thead>
    <% @pack = 0 %>
    <% @order.chef_orders.each do |chef_order| %>
      <tr>
        <td><%= @pack = @pack + 1 %></td>
        <td><%= chef_order.chef.name %></td>
        <td><%= chef_order.amount_cook %></td>
        <td><%= link_to [@order, chef_order] do%><i class="fa fa-eye"></i><%end%></td>
        <td><%= link_to edit_order_chef_order_path(@order, chef_order) do %><i class="fa fa-pencil"></i><%end%></td>
        <td><%= link_to [@order, chef_order], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_cheforder' do%><i class="fa fa-remove"></i><%end%></td>
      </tr>
    <%end%>
</table>
</div>
</div>
<center><%= link_to 'Assign Chef', new_order_chef_order_path(@order), class: 'btn btn-info' %></center>
-->
