<p id="notice"><%= notice %></p>

<h1>Runner Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Package quantity</th>
      <th>Order</th>
      <th>Runner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runner_tasks.each do |runner_task| %>
      <tr>
        <td><%= runner_task.package_quantity %></td>
        <td><%= runner_task.order_id %></td>
        <td><%= runner_task.runner_id %></td>
        <td><%= link_to 'Show', runner_task %></td>
        <td><%= link_to 'Edit', edit_runner_task_path(runner_task) %></td>
        <td><%= link_to 'Destroy', runner_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runner Task', new_runner_task_path %>
