<%= form_for [@order, @chef_order] do |f| %>

<% if @chef_order.errors.any? %>
<div class="alert alert-danger alert-dismissable" style="width:74%;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-remove"></i></a>
  <div id="error_explanation">
    <h5><%= pluralize(@chef_order.errors.count, "error") %> prohibited this order from being saved:</h5>

    <ul>
    <% @chef_order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  </div>
<% end %>

  <div class="row form-group">
      <div class="col-sm-1">
      <%= f.label :chef_id %>
      </div>
    <div class="col-sm-8">
      <%= f.collection_select :chef_id, Chef.all, :id, :name, {include_blank: true}, {class:'form-control'} %>
    </div>
  </div>
v class="row form-group">
      <div class="col-sm-1">
      <%= f.label 'Quantity Assign' %>
      </div>
    <div class="col-sm-8">
      <%= f.text_field :amount_cook, class:'form-control', required: true %>
    </div>
  </div>

  <div class="actions">
    <div class="row">
    <div class="col-sm-1"></div><div class="col-sm-8" style="text-align:right"><%= f.submit 'Save', class: 'btn btn-success' %></div>
    </div>
  </div>


<% end %>
</div></div>
