<p id="notice"><%= notice %></p>

<h1>Chef Orders</h1>

<table>
  <thead>
    <tr>
      <th>Chef</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chef_orders.each do |chef_order| %>
      <tr>
        <td><%= chef_order.chef_id %></td>
        <td><%= chef_order.order_id %></td>
        <td><%= link_to 'Show', chef_order %></td>
        <td><%= link_to 'Edit', edit_chef_order_path(chef_order) %></td>
        <td><%= link_to 'Destroy', chef_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chef Order', new_chef_order_path %>
