
<p id="notice"><%= notice %></p>

<h1>Template</h1>

<%= link_to 'New Template', new_order_template_path, class:'btn btn-info' %>
<br><br>
<script>
$.fn.editable.defaults.ajaxOptions = {type: "PATCH"};
</script>
              <div class="table-responsive">
              <table class="table table-striped">
                <tr style="text-align:center">
                  <td style="border-left:1px solid #d6d6d6;">Customer/Day</td>
                  <% @day.each do |day| %>
                    <td style="border-right:1px solid #d6d6d6;border-left:1px solid #d6d6d6;"> <%= day.name %></td>
                  <%end%>
                </tr>
                <% @customer.each do |customer| %>
                <tr>
                  <td style="height:100px; border-right:1px solid #d6d6d6;border-left:1px solid #d6d6d6;"><%= customer.name %></td>
                  <% @day.each do |day| %>
                    <td style="text-align:center; border-right:1px solid #d6d6d6">
                          <%@order_temp.order(time_order: :asc).each do |order| %>

                  <% if order.customer_id == customer.id %>
                    <% if order.day_data_id == day.id %>
                    <div style="border-bottom:1px solid #d6d6d6; padding-bottom:5px">
                      <%= order.item.name %>

                      - <span style="padding-right:5px"><i class="fa fa-clock-o"></i></span><a href="#" id="time<%= order.id %>"><%= order.time_order.strftime('%I:%M %p')%></a>
                      <script>
                          $('#time<%= order.id %>').editable({
                            inputclass: 'inputtimeorder',
                            pk: <%= order.id %>,
                            name: 'time_order',
                            model: 'order_template',
                            url: '<%= order_template_path(order) %>',
                            success: function(response, newValue) {
                                if(response.status == 'error') {
                                    return response.msg;
                                } else {
                                  $('this').html(newValue);
                                }
                            }
                          });
                      </script>
                      &nbsp; <span style="padding-right:5px"><i class="fa fa-cubes"></i></span><a href="#" id="no<%= order.id %>"><%= editable order, :order_no %></a>
                      <script>
                      $('#no<%= order.id%>').editable({
                          inputclass: 'inputorderno',
                          pk: <%= order.id %>,
                          name: 'order_no',
                          model: 'order_template',
                          url: '<%= order_template_path(order) %>',
                          success: function(response, newValue) {
                              if(response.status == 'error') {
                                  return response.msg;
                              } else {
                                $('this').html(newValue);
                              }
                          }
                        });


                      </script>
                      <br>
                    </div>
                            <%end%>
                          <%end%>

                        <%end%>
                    </td>
                <%end%>
                </tr>
                <%end%>
              </table>
            </div>


<br>
