<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @order_template.day_data.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order_template.customer.name %>
</p>

<p>
  <strong>Order no:</strong>
  <%= @order_template.order_no %>
</p>

<p>
  <strong>Time order:</strong>
  <%= @order_template.time_order.strftime('%I:%M %p')  %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @order_template.runner.name %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @order_template.chef.name %>
</p>

<%= link_to 'Edit', edit_order_template_path(@order_template) %> |
<%= link_to 'Back', order_templates_path %>
