<%= form_for [@order, @runner_order] do |f| %>
  <% if runner_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(runner_order.errors.count, "error") %> prohibited this runner_order from being saved:</h2>

      <ul>
      <% runner_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :order_id %>
  </div>

  <div class="row form-group">
      <div class="col-sm-1">
      <%= f.label :runner_id %>
      </div>
    <div class="col-sm-8">
      <%= f.collection_select :runner_id, Runner.all, :id, :name, {include_blank: true}, {class:'form-control'} %>
    </div>
  </div>

  <div class="row form-group">
      <div class="col-sm-1">
      <%= f.label :packaging_quantity %>
      </div>
    <div class="col-sm-8">
      <%= f.number_field :packaging_quantity, class:'form-control', required: true %>
    </div>
  </div>

  <div class="actions">
    <div class="row">
    <div class="col-sm-1"></div><div class="col-sm-8" style="text-align:right"><%= f.submit 'Assign Runner', class: 'btn btn-success' %></div>
    </div>
  </div>
<% end %>
