<p id="notice"><%= notice %></p>

<h1>Runner Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Runner</th>
      <th>Packaging quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runner_orders.each do |runner_order| %>
      <tr>
        <td><%= runner_order.order_id %></td>
        <td><%= runner_order.runner_id %></td>
        <td><%= runner_order.packaging_quantity %></td>
        <td><%= link_to 'Show', runner_order %></td>
        <td><%= link_to 'Edit', edit_runner_order_path(runner_order) %></td>
        <td><%= link_to 'Destroy', runner_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runner Order', new_runner_order_path %>
