<style>
@media print{
  .no-print{
    display: none;
  }
}
</style>
<h1 class="no-print">Runner Order</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div class='demo-area'>
        <button id="clip-button" class="btn btn-default" data-clipboard-target='#fe_text'>
          <b><i class="fa fa-clipboard"></i></b>
        </button>
        <div cols='50' id='fe_text' rows='3'>

            <% @date = params[:date] %>
            <% @dateconv = Date.parse(@date) %>
            <% @datefin = @dateconv.strftime('%d/%m/%Y') %>
            <h3>Order for <%= @runner.name %> (<%= @datefin %>)</h3>

            <div id="print">
                <% @sorted.group_by(&:order_date).each do |order_date, orders| %>
                  <%= order_date.strftime("%H:%M") %><br>
                  ********<br>
                  <% orders.group_by(&:customer_id).each do |customer_id, quantities|%>
                    <%= Customer.find_by(id: customer_id).name %> -
                    <%= quantities.map(&:quantity).join(',')%>
                    <br>
                  <%end%>
                  <br>
                <%end%>
                Total Customer: <%= @count %>
            </div>
        </div>
  </div>
  </div>
</div>

<script>
new Clipboard('#clip-button');

</script>
