<style>
@media print{
  .no-print{
    display: none;
  }
}
</style>
<h1 class="no-print">Runner Order</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div class='demo-area'>
        <button id="clip-button" class="btn btn-default" data-clipboard-target='#fe_text'>
          <b><i class="fa fa-clipboard"></i></b>
        </button>
        <div cols='50' id='fe_text' rows='3'>

            <% @date = params[:date] %>
            <% @dateconv = Date.parse(@date) %>
            <% @datefin = @dateconv.strftime('%d/%m/%Y') %>
            <h3>Order for <%= @runner.name %> (<%= @datefin %>)</h3>

            <div id="print">
              <% this_time = nil %>
              <% @orders.order(order_date: :asc).each do |row| %>
                  <% if this_time != row.order_date.strftime("%H:%M") %>
                    Time: <strong><%= row.order_date.strftime("%H:%M") %></strong><br>
                    ****************<br>
                    <% @orders.order(order_date: :asc).each do |col| %>
                      <% if row.order_date == col.order_date %>
                        <%= col.customer.name %> - <%= col.quantity %><br>
                      <%end%>
                    <%end%>
                  <%end%>
                  <% this_time = row.order_date.strftime('%H:%M') %>
                  <br>
              <%end%>
            </div>
        </div>
  </div>
  </div>
</div>

<script>
new Clipboard('#clip-button');

</script>
